"""Example config.py"""

webhook_urls = ["DISCORD WEBHOOK", "DISCORD WEBHOOK"] # Used to update webhooks on Discord.
key_path = "/path/to/key/in/format/of/file.pem" # Private key to sign the file.
file_path = "/path/to/folder" # Path to save the file to.
lzss_path = "/path/to/lzss" # Path to lzss.
production = None # Use production mode

"""News Channel only"""

force_all = False # Force the script to replace all news files.
google_maps_api_key = "api_key" # API Key for Google Maps geocoding API

"""Forecast Channel only"""

accuweather_api_keys = ["ACCUWEATHER API KEY", "ACCUWEATHER API KEY"] # API Key for AccuWeather developers (only if using the paid API)
