{
  "key_path": "/path/to/key",
  "file_path": "/path/to/save/file",
  "production": true,
  "multithreaded": true,
  "wii_u_generation": true,
  "check_coordinates": false,
  "send_logs": true,
  "send_stats": true,
  "send_webhooks": true,
  "sentry_url": "http://example.com/",
  "webhook_urls": [
    "http://example.com/"
  ],
  "packVFF": true,
  "download_locations": false,
  "cloudflare_cache_purge": true,
  "cloudflare_zone_name": "id",
  "cloudflare_token": "token",
  "cloudflare_hostname": "http://example.com/"
}