{
  "key_path": "/path/to/key",
  "file_path": "/path/to/save/file",
  "lzss_path": "/path/to/lzss",
  "production": true,
  "multithreaded": true,
  "wii_u_generation": false,
  "check_coordinates": false,
  "send_stats" : true,
  "sentry_url": "http://status.domain.tld/",
  "webhook_urls": [
    "http://status.domain.tld/"
  ]
}
