{
  "key_path": "/path/to/key",
  "file_path": "/path/to/save/file",
  "production": true,
  "mysql_user": "user",
  "mysql_password": "password",
  "mysql_database": "database",
  "sentry_url": "http://status.domain.tld/",
  "webhook_urls": [
    "http://status.domain.tld/"
  ],
  "packVFF": true
}